@inherits HtmlTemplate<FailedPage.ViewModel>

@{
  Layout = new Layout();
}

<div class="p-2 text-bg-light">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="@Routes.Options.Prefix/subscriptions">Subscriptions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@Routes.Options.Prefix/subscriptions/retries">Retries</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="@Routes.Options.Prefix/subscriptions/failed">Failed</a>
    </li>
  </ul>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Application</th>
      <th>Name</th>
      <th>Stream Name</th>
      <th>Stream Position</th>
    </tr>
  </thead>
  <tbody>
  @foreach(var retry in Model.Failures)
  {
    <tr>
      <td>@retry.Application</td>
      <td>@retry.Name</td>
      <td>
        <a href="@Routes.Options.Prefix/subscriptions/retry/@retry.RetryId">@retry.StreamName</a>
      </td>
      <td>@retry.StreamPosition</td>
    </tr>
  }
  @if (Model.Failures.Count == 0)
  {
    <tr>
      <td colspan="4">
        No failures found.
      </td>
    </tr>
  }
  </tbody>
</table>


