@inherits HtmlTemplate<IndexPage.ViewModel>

@{
  Layout = new Layout();
}

<div class="p-2 text-bg-light">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="@Routes.Options.Prefix/subscriptions">Subscriptions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@Routes.Options.Prefix/subscriptions/retries">Retries</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@Routes.Options.Prefix/subscriptions/failed">Failed</a>
    </li>
  </ul>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Application</th>
      <th>Name</th>
      <th>Total Lag</th>
    </tr>
  </thead>
  <tbody>
  @foreach(var subscription in Model.Subscriptions)
  {
    <tr>
      <td>@subscription.Application</td>
      <td>@subscription.Name</td>
      <td>@subscription.TotalLag</td>
    </tr>
  }
  @if (Model.Subscriptions.Count == 0)
  {
    <tr>
      <td colspan="3">
        No subscriptions found.
      </td>
    </tr>
  }
  </tbody>
</table>


