@inherits HtmlTemplate<IndexPage.ViewModel>

@{
  Layout = new Layout((Area.Subscriptions, Routes.Options.MessageStoreEnabled, false, null));

  var urlTemplate = $"{Routes.Prefix}/subscriptions?page={{0}}&pageSize={{1}}";
}

<div class="p-2 bg-body-tertiary d-flex justify-content-between align-items-center">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="@Routes.Prefix/subscriptions">Subscriptions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@Routes.Prefix/subscriptions/reservations">Reservations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@Routes.Prefix/subscriptions/lagging">Lagging</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@Routes.Prefix/subscriptions/retries">Retries</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@Routes.Prefix/subscriptions/failed">Failed</a>
    </li>
  </ul>
  @(new Paging((Model, urlTemplate)))
</div>

<div class="p-2 pt-0">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 18em;">
          <div class="d-flex align-items-end" style="height: 2.25em;">
            Group Name
          </div>
        </th>
        <th>Name</th>
        <th style="width: 12em;">Status</th>
      </tr>
    </thead>
    <tbody>
    @foreach(var subscription in Model.Subscriptions)
    {
      <tr>
        <td>@subscription.GroupName</td>
        <td>
          <a href="@Routes.Prefix/subscriptions/@subscription.GroupName/@subscription.Name">@subscription.Name</a>
        </td>
        <td>@subscription.Status</td>
      </tr>
    }
    @if (Model.Subscriptions.Count == 0)
    {
      <tr>
        <td colspan="2">
          No subscriptions found.
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>
