@inherits HtmlTemplate<LaggingPage.ViewModel>

@{
  Layout = new Layout();
}

<div class="p-2 bg-body-tertiary">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="@Routes.Prefix/subscriptions">Subscriptions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="@Routes.Prefix/subscriptions/lagging">Lagging</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@Routes.Prefix/subscriptions/retries">Retries</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@Routes.Prefix/subscriptions/failed">Failed</a>
    </li>
  </ul>
</div>

<div class="p-2">
  <table id="list-view"
         class="table table-striped"
         hx-get="@Routes.Prefix/subscriptions/lagging"
         hx-trigger="every 10s"
         hx-select="#list-view"
         hx-swap="outerHTML">
    <thead>
      <tr>
        <th>Group Name</th>
        <th>Name</th>
        <th>Total Lag</th>
      </tr>
    </thead>
    <tbody>
    @foreach(var subscription in Model.Subscriptions)
    {
      <tr>
        <td>@subscription.GroupName</td>
        <td>@subscription.Name</td>
        <td>@subscription.TotalLag</td>
      </tr>
    }
    @if (Model.Subscriptions.Count == 0)
    {
      <tr>
        <td colspan="3">
          No lagging subscriptions found.
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>
