@inherits HtmlTemplate<RetriesPage.ViewModel>

@{
  Layout = new Layout((Area.Subscriptions, Routes.Options.MessageStoreEnabled, true, Model.Query));

  var urlTemplate = $"{Routes.Prefix}/subscriptions/retries?page={{0}}&pageSize={{1}}&query={{2}}";
}

<div class="p-2 bg-body-tertiary d-flex justify-content-between align-items-center">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="@Routes.Prefix/subscriptions">Subscriptions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@Routes.Prefix/subscriptions/lagging">Lagging</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="@Routes.Prefix/subscriptions/retries">Retries</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@Routes.Prefix/subscriptions/failed">Failed</a>
    </li>
  </ul>
  @(new Paging((Model, urlTemplate)))
</div>

<div class="p-2 pt-0"
     hx-get="@Model.CurrentLink(urlTemplate)"
     hx-trigger="@(Model.Page > 1 ? "false" : "every 10s [enableAutoReload()]")"
     hx-select="#list-view"
     hx-swap="innerHTML">
  <table id="list-view" class="table table-striped">
    <thead>
      <tr>
        <th style="width: 1em;">
          <input type="checkbox" id="select-all" onclick="selectAll()" />
        </th>
        <th style="width: 16em;">
          <div class="d-flex align-items-end" style="height: 2.25em;">
            <div class="hide-for-bulk-controls">Group Name</div>
            <a href="#"
               class="d-none btn btn-sm btn-primary bulk-controls mt-1"
               title="Retry Selected"
               hx-post="@Routes.Prefix/subscriptions/checkpoints/bulk-retry"
               hx-include="[name=id]">
              Retry Selected
            </a>
          </div>
        </th>
        <th>Name</th>
        <th>Stream Name</th>
        <th style="width: 12em;">Stream Position</th>
      </tr>
    </thead>
    <tbody>
    @foreach (var checkpoint in Model.Retries)
    {
      <tr>
        <td>
          <input type="checkbox" class="select-item" name="id" value="@checkpoint.Id" />
        </td>
        <td>@checkpoint.GroupName</td>
        <td>@checkpoint.Name</td>
        <td>
          <a href="@Routes.Prefix/subscriptions/checkpoints/@checkpoint.Id">@checkpoint.StreamName</a>
        </td>
        <td>@checkpoint.StreamPosition</td>
      </tr>
    }
    @if (Model.Retries.Count == 0)
    {
      <tr>
        <td colspan="5">
          No retries found.
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>
@(new BulkControls())
