@inherits HtmlTemplate<RetriesPage.ViewModel>

@{
  Layout = new Layout();
}

<div class="p-2 text-bg-light">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="@Routes.Prefix/subscriptions">Subscriptions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@Routes.Prefix/subscriptions/lagging">Lagging</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="@Routes.Prefix/subscriptions/retries">Retries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@Routes.Prefix/subscriptions/failed">Failed</a>
        </li>
      </ul>
    </div>
    <div>
      <a href="#"
         class="btn btn-primary disabled bulk-controls"
         title="Bulk retry"
         hx-post="@Routes.Prefix/subscriptions/checkpoints/bulk-retry"
         hx-include="[name=id]">
        Retry
      </a>
    </div>
  </div>
</div>

<table id="list-view"
       class="table table-striped"
       hx-get="@Routes.Prefix/subscriptions/retries"
       hx-trigger="every 10s [enableAutoReload()]"
       hx-select="#list-view"
       hx-swap="outerHTML">
  <thead>
    <tr>
      <th style="width: 1em;">
        <input type="checkbox" id="select-all" onclick="selectAll()" />
      </th>
      <th>Group Name</th>
      <th>Name</th>
      <th>Stream Name</th>
      <th>Stream Position</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var checkpoint in Model.Retries)
  {
    <tr>
      <td>
        <input type="checkbox" class="select-item" name="id" value="@checkpoint.Id" onclick="selectItem(this)" />
      </td>
      <td>@checkpoint.GroupName</td>
      <td>@checkpoint.Name</td>
      <td>
        <a href="@Routes.Prefix/subscriptions/checkpoints/@checkpoint.Id">@checkpoint.StreamName</a>
      </td>
      <td>@checkpoint.StreamPosition</td>
    </tr>
  }
  @if (Model.Retries.Count == 0)
  {
    <tr>
      <td colspan="5">
        No retries found.
      </td>
    </tr>
  }
  </tbody>
</table>
@(new BulkControls())
