@using Beckett.Database
@inherits Component<Metrics.ViewModel>
@inject IPostgresDatabase Database

<a href="@Dashboard.Prefix/subscriptions/checkpoints/lagging"
   class="badge text-bg-info text-decoration-none"
   title="Lagging Subscriptions">
  @Model.Lagging
</a>
<a href="@Dashboard.Prefix/subscriptions/checkpoints/retries"
   class="badge text-bg-warning text-decoration-none"
   title="Retries">
  @Model.Retries
</a>
<a href="@Dashboard.Prefix/subscriptions/checkpoints/failed"
   class="badge text-bg-danger text-decoration-none"
   title="Failed">
  @Model.Failed
</a>

@code {

  public record ViewModel(long Lagging, long Retries, long Failed, bool InitialLoad);

  protected override async Task OnInitializedAsync()
  {
    if (!Model.InitialLoad)
    {
      return;
    }

    var result = await Database.Execute(new MetricsQuery(), CancellationToken.None);

    Model = new ViewModel(result.Lagging, result.Retries, result.Failed, false);
  }

}
