@using System.Web
@inherits HtmlTemplate<MessagesPage.ViewModel>

@{
  Layout = new Layout();
  DateTimeOffset? firstTimestamp = null;
  DateTimeOffset? previousTimestamp = null;
}

<nav style="--bs-breadcrumb-divider: '>';" class="bg-body-tertiary" aria-label="breadcrumb">
  <ol class="breadcrumb p-3 mb-0 rounded-3">
    <li class="breadcrumb-item">
      <a class="link-body-emphasis fw-semibold" href="@Routes.Prefix/message-store">
        Stream Categories
      </a>
    </li>
    <li class="breadcrumb-item">
      <a class="link-body-emphasis fw-semibold" href="@Routes.Prefix/message-store/categories/@HttpUtility.UrlEncode(Model.Category)">
        @Model.Category
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      @Model.StreamName
    </li>
  </ol>
</nav>

<div class="p-2">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 22em;">Message ID</th>
        <th style="width: 10em;">Stream Position</th>
        <th>Type</th>
        <th style="width: 18em;">Timestamp</th>
      </tr>
    </thead>
    <tbody>
    @foreach(var message in Model.Messages)
    {
      var currentTimestamp = message.Timestamp;

      firstTimestamp ??= currentTimestamp;

      var offsetFromFirst = (firstTimestamp.Value - currentTimestamp).ToString(@"hh\:mm\:ss\.fff");
      var offsetFromPrevious = previousTimestamp.HasValue ? (currentTimestamp - previousTimestamp.Value).ToString(@"hh\:mm\:ss\.fff") : "";

      previousTimestamp = currentTimestamp;

      <tr>
        <td>
          <a href="@Routes.Prefix/message-store/messages/@message.Id">@message.Id</a>
        </td>
        <td>@message.StreamPosition</td>
        <td>@message.Type</td>
        <td>
          <span class="timestamp">@message.Timestamp.ToString("O")</span>
          @if (!string.IsNullOrEmpty(offsetFromPrevious))
          {
            <div class="d-inline"
                 data-bs-toggle="popover"
                 data-bs-trigger="hover focus"
                 data-bs-title="Timestamp Deltas"
                 data-bs-html="true"
                 data-bs-content="Previous: +@offsetFromPrevious<br/>Stream: +@offsetFromFirst">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
              </svg>
            </div>
          }
        </td>
      </tr>
    }
    @if (Model.Messages.Count == 0)
    {
      <tr>
        <td colspan="4">
          No stream messages found.
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>
