@inherits HtmlTemplate<MessagesPage.ViewModel>

@{
  Layout = new Layout();
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb p-3 text-bg-light rounded-3">
    <li class="breadcrumb-item">
      <a class="link-body-emphasis fw-semibold" href="@Routes.Prefix/message-store">
        Stream Categories
      </a>
    </li>
    <li class="breadcrumb-item">
      <a class="link-body-emphasis fw-semibold" href="@Routes.Prefix/message-store/categories/@Model.Category">
        @Model.Category
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      @Model.StreamName
    </li>
  </ol>
</nav>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Stream Position</th>
    <th>Type</th>
    <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>
  @foreach(var message in Model.Messages)
  {
    <tr>
      <td>
        <a href="@Routes.Prefix/message-store/messages/@message.Id">@message.Id</a>
      </td>
      <td>@message.StreamPosition</td>
      <td>@message.Type</td>
      <td>@message.Timestamp</td>
    </tr>
  }
  @if (Model.Messages.Count == 0)
  {
    <tr>
      <td colspan="4">
        No stream messages found.
      </td>
    </tr>
  }
  </tbody>
</table>


