@using Beckett.Database.Models
@inherits Component<Messages.ViewModel>
@layout Layout

<nav style="--bs-breadcrumb-divider: '>';" class="bg-body-tertiary" aria-label="breadcrumb">
  <div class="d-flex justify-content-between">
    <ol class="breadcrumb p-3 mb-0 rounded-3">
      <li class="breadcrumb-item active" aria-current="page">
        Recurring Messages
      </li>
    </ol>
    <Paging ViewModel="Model"></Paging>
  </div>
</nav>

<div class="p-2"
     hx-get="@Model.CurrentLink()"
     hx-trigger="every 10s"
     hx-select="#list-view"
     hx-swap="innerHTML">
  <table id="list-view" class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Stream Name</th>
      <th>Cron Expression</th>
      <th style="width: 16em;">Next Occurrence</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var message in Model.RecurringMessages)
    {
      <tr>
        <td>
          <a href="@Dashboard.Prefix/recurring/@HttpUtility.UrlEncode(message.Name)">@message.Name</a>
        </td>
        <td>@message.Type</td>
        <td>@message.StreamName</td>
        <td><code>@message.CronExpression</code></td>
        <td>
          @if (message.NextOccurrence.HasValue)
          {
            <span class="timestamp">@message.NextOccurrence.Value.ToString("O")</span>
          }
          else
          {
            <span class="text-muted">-</span>
          }
        </td>
      </tr>
    }
    @if (Model.RecurringMessages.Count == 0)
    {
      <tr>
        <td colspan="5">
          No recurring messages found.
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>

@code {

  public record ViewModel(
    IReadOnlyList<PostgresRecurringMessage> RecurringMessages,
    string? Query,
    int Page,
    int PageSize,
    int TotalResults
  ) : IPagedViewModel
  {
    public string UrlTemplate => $"{Dashboard.Prefix}/recurring?page={{0}}&pageSize={{1}}&query={{2}}";
  }

}
