@inherits Component<Subscriptions.ViewModel>
@layout Layout

<SubscriptionNavbar Model="Model" ActiveLink="SubscriptionNavbar.Links.Subscriptions"/>

<nav style="--bs-breadcrumb-divider: '>';" class="bg-body-tertiary mt-2" aria-label="breadcrumb">
  <div class="d-flex justify-content-between">
    <ol class="breadcrumb p-3 mb-0 rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold" href="@Dashboard.Prefix/subscriptions">
          Groups
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        @Model.GroupName
      </li>
    </ol>
  </div>
</nav>

<div class="p-2 pt-0">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Subscription Name</th>
      <th style="width: 12em;">Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var subscription in Model.Subscriptions)
    {
      <tr>
        <td>
          <a href="@Dashboard.Prefix/subscriptions/@Model.GroupName/@subscription.Name">@subscription.Name</a>
        </td>
        <td>@subscription.Status</td>
      </tr>
    }
    @if (Model.Subscriptions.Count == 0)
    {
      <tr>
        <td colspan="3">
          No subscriptions found.
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>

@code {

  public record ViewModel(
    string GroupName,
    List<SubscriptionsQuery.Result.Subscription> Subscriptions,
    string? Query,
    int Page,
    int PageSize,
    int TotalResults
  ) : IPagedViewModel
  {
    public string UrlTemplate => $"{Dashboard.Prefix}/subscriptions/{GroupName}?page={{0}}&pageSize={{1}}";
  }

}
