<ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
  <li class="nav-item">
    <a class="nav-link @(Area == Area.Home ? "active" : "")"
       aria-current="page"
       href="@Dashboard.Prefix">
      Home
    </a>
  </li>
  @if (Dashboard.Options.MessageStoreEnabled)
  {
    <li class="nav-item">
      <a class="nav-link @(Area == Area.MessageStore ? "active" : "")"
         href="@Dashboard.Prefix/message-store">
        Message Store
      </a>
    </li>
  }
  <li class="nav-item">
    <a class="nav-link @(Area == Area.Subscriptions ? "active" : "")"
       href="@Dashboard.Prefix/subscriptions">
      Subscriptions
    </a>
  </li>
  <li class="nav-item" hx-get="@Dashboard.Prefix/components/metrics" hx-trigger="every 10s">
    <Metrics Model="new Metrics.Metrics.ViewModel(0, 0, 0)"></Metrics>
  </li>
</ul>

@code {

  [Parameter, EditorRequired]
  public required Area Area { get; set; }

}
