<div class="m-2 d-flex align-items-start flex-nowrap">
  <div class="pt-2 text-nowrap">@(ViewModel.From) - @(ViewModel.To) of @(ViewModel.TotalResults)</div>
  <div>
    <a href="@(ViewModel.PreviousLink())"
       class="ms-2 btn btn-outline-secondary @(ViewModel.Page == 1 ? "disabled" : "")">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left"
           viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
      </svg>
    </a>
  </div>
  <div class="ms-1">
    <a href="@(ViewModel.NextLink())"
       class="btn btn-outline-secondary @(ViewModel.Page == ViewModel.TotalPages ? "disabled" : "")">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right"
           viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
      </svg>
    </a>
  </div>
</div>

@code {

  [Parameter][EditorRequired] public required IPagedViewModel ViewModel { get; set; }

}
