
@inherits Component<Subscription.ViewModel>
@layout LayoutWithoutSearch

<SubscriptionNavbar ActiveLink="SubscriptionNavbar.Links.None"/>
<script type="text/javascript">
  document.body.addEventListener("subscription_reset", function () {
    alert('Subscription reset successfully');
  });
</script>
<div id="subscription-details"
     hx-get="@Dashboard.Prefix/subscriptions/@Model.Details.Id"
     hx-trigger="every 10s"
     hx-select="#subscription-details"
     hx-swap="outerHTML">
  <div class="card m-4">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <div class="fs-4">
          @{
            var statusIndicator = Model.Details.Status switch
            {
              SubscriptionStatus.Active => "text-bg-success",
              SubscriptionStatus.Paused => "text-bg-secondary",
              SubscriptionStatus.Uninitialized => "text-bg-warning",
              SubscriptionStatus.Unknown => "text-bg-warning",
              _ => throw new ArgumentOutOfRangeException()
            };
          }
          <span class="badge rounded-pill @statusIndicator p-2 me-1">
            <span class="visually-hidden">Status: @Model.Details.Status</span>
          </span>
          Subscription
        </div>
        <div>
          @if (Model.Details.Status == SubscriptionStatus.Active)
          {
            <button class="btn btn-primary"
                    title="Pause Subscription"
                    hx-post="@Dashboard.Prefix/subscriptions/@Model.Details.Id/pause"
                    hx-on::response-error="alert('Unable to pause subscription at this time - please try again later')">
              Pause
            </button>
          }
          @if (Model.Details.Status == SubscriptionStatus.Paused)
          {
            <button class="btn btn-primary"
                    title="Resume Subscription"
                    hx-post="@Dashboard.Prefix/subscriptions/@Model.Details.Id/resume"
                    hx-on::response-error="alert('Unable to resume subscription at this time - please try again later')">
              Resume
            </button>
          }
          <button class="btn btn-danger ms-2"
                  title="Reset Subscription"
                  hx-post="@Dashboard.Prefix/subscriptions/@Model.Details.Id/reset"
                  hx-confirm="Are you sure you want to reset this subscription?"
                  hx-on::response-error="alert('Unable to reset subscription at this time - please try again later')">
            Reset
          </button>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span class="fw-bolder">Group Name:</span> @Model.Details.GroupName</li>
      <li class="list-group-item"><span class="fw-bolder">Name:</span> @Model.Details.SubscriptionName</li>
      <li class="list-group-item"><span class="fw-bolder">Status:</span> @Model.Details.Status</li>
    </ul>
  </div>
</div>

@code {

  public record ViewModel(GetSubscriptionResult Details);

}
