
@inherits Component<Retries.ViewModel>
@layout BulkControlsLayout

<SubscriptionNavbar Model="Model" ActiveLink="SubscriptionNavbar.Links.Retries"/>

<div class="p-2 pt-0"
     hx-get="@Model.CurrentLink()"
     hx-trigger="@(Model.Page > 1 ? "false" : "every 10s [enableAutoReload()]")"
     hx-select="#list-view"
     hx-swap="innerHTML">
  <table id="list-view" class="table table-striped">
    <thead>
    <tr>
      <th style="width: 1em;">
        <input type="checkbox" id="select-all" onclick="selectAll()"/>
      </th>
      <th style="width: 16em;">
        <div class="d-flex align-items-end" style="height: 2.25em;">
          <div class="hide-for-bulk-controls">Group Name</div>
          <a href="#"
             class="d-none btn btn-sm btn-primary bulk-controls mt-1"
             title="Retry Selected"
             hx-post="@Dashboard.Prefix/subscriptions/checkpoints/bulk-retry"
             hx-include="[name=id]">
            Retry Selected
          </a>
          <a href="#"
             class="d-none btn btn-sm btn-danger bulk-controls mt-1 ms-1"
             title="Skip Selected"
             hx-post="@Dashboard.Prefix/subscriptions/checkpoints/bulk-skip"
             hx-include="[name=id]">
            Skip Selected
          </a>
        </div>
      </th>
      <th>Name</th>
      <th>Stream Name</th>
      <th style="width: 12em;">Stream Position</th>
      <th style="width: 16em;">Last Attempted</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var checkpoint in Model.Retries)
    {
      <tr>
        <td>
          <input type="checkbox" class="select-item" name="id" value="@checkpoint.Id"/>
        </td>
        <td>@checkpoint.GroupName</td>
        <td>@checkpoint.SubscriptionName</td>
        <td>
          <a href="@Dashboard.Prefix/subscriptions/checkpoints/@checkpoint.Id">@checkpoint.StreamName</a>
        </td>
        <td>@checkpoint.StreamPosition</td>
        <td>
          <span class="timestamp">@checkpoint.LastAttempted.ToString("O")</span>
        </td>
      </tr>
    }
    @if (Model.Retries.Count == 0)
    {
      <tr>
        <td colspan="6">
          No retries found.
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>

@code {

  public record ViewModel(
    List<GetRetriesResult.Retry> Retries,
    string? Query,
    int Page,
    int PageSize,
    int TotalResults
  ) : IPagedViewModel
  {
    public string UrlTemplate => $"{Dashboard.Prefix}/subscriptions/checkpoints/retries?page={{0}}&pageSize={{1}}&query={{2}}";
  }

}
