@inherits Component<Reservations.ViewModel>
@layout Layout

<div class="p-2 bg-body-tertiary d-flex justify-content-between align-items-center">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="@Dashboard.Prefix/subscriptions">Subscriptions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@Dashboard.Prefix/subscriptions/lagging">Lagging</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@Dashboard.Prefix/subscriptions/retries">Retries</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="@Dashboard.Prefix/subscriptions/failed">Failed</a>
    </li>
  </ul>
  <Paging ViewModel="Model"></Paging>
</div>

<div class="card m-4">
  <div class="card-header fs-4">
    Reservations
  </div>
  <div class="card-body"
       hx-get="@Model.CurrentLink()"
       hx-trigger="@(Model.Page > 1 ? "false" : "every 10s [enableAutoReload()]")"
       hx-select="#list-view"
       hx-swap="innerHTML">
    <table id="list-view" class="table table-striped mb-0">
      <thead>
      <tr>
        <th style="width: 18em;">Group Name</th>
        <th>Name</th>
        <th>Stream Name</th>
        <th style="width: 12em;">Stream Position</th>
        <th style="width: 12em;">Time Left</th>
      </tr>
      </thead>
      <tbody>
      @foreach (var reservation in Model.Reservations)
      {
        <tr>
          <td>@reservation.GroupName</td>
          <td>@reservation.Name</td>
          <td>
            <a href="@Dashboard.Prefix/subscriptions/checkpoints/@reservation.Id">@reservation.StreamName</a>
          </td>
          <td>@reservation.StreamPosition</td>
          <td>@reservation.ReservedUntil.ToFriendlyTimeAbbreviation()</td>
        </tr>
      }
      @if (Model.Reservations.Count == 0)
      {
        <tr>
          <td colspan="5">
            No reservations found.
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>

@code {

  public record ViewModel(
    List<GetReservationsResult.Reservation> Reservations,
    string? Query,
    int Page,
    int PageSize,
    int TotalResults
  ) : IPagedViewModel
  {
    public string UrlTemplate => $"{Dashboard.Prefix}/subscriptions/reservations?page={{0}}&pageSize={{1}}&query={{2}}";
  }

}
